# Lab 3 - Video Game Reviews

In [1]:
import pandas as pd

## Import Data

In [2]:
df = pd.read_csv('imdb-videogames.csv')

In [3]:
df.head()

,Unnamed: 0,name,url,year,certificate,rating,votes,plot summary,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
0,0,Spider-Man,https://www.imdb.com/title/tt5807780/?ref_=adv...,2018.0,T,9.2,"20,759","When a new villain threatens New York City, Pe...",True,True,False,False,False,True,False,False,False
1,1,Red Dead Redemption II,https://www.imdb.com/title/tt6161168/?ref_=adv...,2018.0,M,9.7,"35,703",Amidst the decline of the Wild West at the tur...,True,True,False,True,False,False,False,False,False
2,2,Grand Theft Auto V,https://www.imdb.com/title/tt2103188/?ref_=adv...,2013.0,M,9.5,"59,986",Three very different criminals team up for a s...,True,False,False,True,False,False,False,False,False
3,3,God of War,https://www.imdb.com/title/tt5838588/?ref_=adv...,2018.0,M,9.6,"26,118","After wiping out the gods of Mount Olympus, Kr...",True,True,False,False,False,False,False,False,False
4,4,Uncharted 4: A Thief's End,https://www.imdb.com/title/tt3334704/?ref_=adv...,2016.0,T,9.5,"28,722",Thrown back into the dangerous underworld he'd...,True,True,False,False,False,False,False,False,False

In [4]:
df.shape

(20805, 17)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20805 entries, 0 to 20804
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    20805 non-null  int64
 1   name          20805 non-null  object
 2   url           20805 non-null  object
 3   year          20538 non-null  float64
 4   certificate   7905 non-null   object
 5   rating        11602 non-null  object
 6   votes         11602 non-null  object
 7   plot summary  20805 non-null  object
 8   Action        20805 non-null  bool
 9   Adventure     20805 non-null  bool
 10  Comedy        20805 non-null  bool
 11  Crime         20805 non-null  bool
 12  Family        20805 non-null  bool
 13  Fantasy       20805 non-null  bool
 14  Mystery       20805 non-null  bool
 15  Sci-Fi        20805 non-null  bool
 16  Thriller      20805 non-null  bool
dtypes: bool(9), float64(1), int64(1), object(6)
memory usage: 1.4+ MB

In [6]:
df.certificate.value_counts()

T            2474
E            2006
M            1820
E10+          814
Unrated       241
K-A           229
Not Rated     184
AO             32
GA             26
EC             25
CE             13
12              9
PG-13           7
MA-13           7
Approved        4
G               4
MA-17           3
PG              3
TV-MA           2
Passed          1
TV-14           1
Name: certificate, dtype: int64

## Questions

Data Cleanup

In [7]:
#rating
df.rating.replace('*9.0', '9.0', inplace=True)
df[df.rating=='*9.0']
df.rating = df.rating.astype(float)

In [149]:
#votes
df['votes'].replace(',', '', regex=True,inplace = True)
df.head(5)

df.votes = df.votes.astype(float)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20805 entries, 0 to 20804
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    20805 non-null  int64
 1   name          20805 non-null  object
 2   url           20805 non-null  object
 3   year          20538 non-null  float64
 4   certificate   7905 non-null   object
 5   rating        11602 non-null  float64
 6   votes         11602 non-null  float64
 7   plot summary  20805 non-null  object
 8   Action        20805 non-null  bool
 9   Adventure     20805 non-null  bool
 10  Comedy        20805 non-null  bool
 11  Crime         20805 non-null  bool
 12  Family        20805 non-null  bool
 13  Fantasy       20805 non-null  bool
 14  Mystery       20805 non-null  bool
 15  Sci-Fi        20805 non-null  bool
 16  Thriller      20805 non-null  bool
dtypes: bool(9), float64(3), int64(1), object(4)
memory usage: 1.4+ MB

### 1. What is the average rating for Action games?

In [215]:
df.groupby('Action').rating.mean()

Action
False    6.998812
True     7.069257
Name: rating, dtype: float64

### 2. What is the average rating of games after 2010? What is the average rating of games before (and including) 2010?

In [10]:
#getting rid of unique things

#----------------------------------------------------
# df['rating'].mean()
# x = df[df['year'] > 2010]

x = df[['rating']][
        (df['year'] > 2010)]
x = x.mean()
x

rating    7.119838
dtype: float64

### 3. What games include "Fallout" in their title?

In [12]:
fall = df['name'].str.contains('Fallout')
fall.sum()

44

### 4. What is the most common certificate for Sci-Fi games?

In [214]:
#mode()
df[['Sci-Fi', 'certificate']].mode()

   Sci-Fi certificate
0   False           T

### 5. What percent of Thiller games have M or AO certificate?

In [159]:
#percent?

m_ao_thrill = df[ (df.Thriller == True) & (df.certificate == 'M') | (df.certificate == 'AO') ]
print('Number of Thrillers with M or AO: ', len(m_ao_thrill))

thriller = df[(df.Thriller == True)]
print('Total number of Thrillers:', len(thriller))

print('Percent: ', len(m_ao_thrill) / len(thriller))

Number of Thrillers with M or AO:  200
Total number of Thrillers: 523
Percent:  0.3824091778202677

### 6. What is the mean and median rating for Family games? for Action games?

In [15]:
df.groupby(['Family', 'Action']).agg( {
    'rating': ['mean', 'median']
    })

                 rating
                   mean median
Family Action
False  False   7.163801    7.4
       True    7.082445    7.3
True   False   6.456848    6.8
       True    6.940027    7.1

### 7. Which game from 2018 got the most votes?

In [209]:
#df[df.year == '2018']
df[df.year == '2018']
df.groupby(['votes','year','name']).votes.max().sort_values(ascending=False).head(10)

votes    year    name
60597.0  2013.0  The Last of Us                   60597.0
60591.0  2013.0  The Last of Us                   60591.0
60590.0  2013.0  The Last of Us                   60590.0
59996.0  2013.0  Grand Theft Auto V               59996.0
59986.0  2013.0  Grand Theft Auto V               59986.0
39632.0  2004.0  Grand Theft Auto: San Andreas    39632.0
39629.0  2004.0  Grand Theft Auto: San Andreas    39629.0
35709.0  2018.0  Red Dead Redemption II           35709.0
35703.0  2018.0  Red Dead Redemption II           35703.0
34555.0  2008.0  Grand Theft Auto IV              34555.0
Name: votes, dtype: float64

### 8. What is the average rating for each genre (Action, Adventure, Comedy, Crime, Family, Fantasy, Mystery, Sci-Fi, and Thriller)?

In [167]:
# df.groupby(['Action', 'Adventure',
# 'Comedy', 'Crime', 'Family', 'Fantasy',
# 'Mystery', 'Sci-Fi', 'Thriller']).agg( {
#     'rating': ['mean'],
#     })
thriller = df [df.Thriller].rating.mean()
sci = df [df['Sci-Fi']].rating.mean()

results_df = pd.DataFrame({'Type': ['Thriller', 'Sci-Fi'], 'AverageRating': [thriller, sci]})
results_df

       Type  AverageRating
0  Thriller       7.107143
1    Sci-Fi       6.949254

### 9. Which year's games received the most votes?

In [18]:
#we'll be using 'groupby' to answer this
#or else itll take forever to figure out

df.groupby(['votes','year','name']).votes.max().sort_values(ascending=False).head(5)

votes    year    name
60597.0  2013.0  The Last of Us        60597.0
60591.0  2013.0  The Last of Us        60591.0
60590.0  2013.0  The Last of Us        60590.0
59996.0  2013.0  Grand Theft Auto V    59996.0
59986.0  2013.0  Grand Theft Auto V    59986.0
Name: votes, dtype: float64

### 10. What's the average number of votes for games that are not Action games?

In [43]:
#this outputs the mean of every single game
#that isnt an Action game
#---------------------

df.groupby(['Adventure',
'Comedy', 'Crime', 'Family', 'Fantasy',
'Mystery', 'Sci-Fi', 'Thriller']).agg( {
    'votes': ['mean'],
    })

                                                                     votes
                                                                      mean
Adventure Comedy Crime Family Fantasy Mystery Sci-Fi Thriller
False     False  False False  False   False   False  False      116.696826
                                                     True      2337.699115
                                              True   False      278.133333
                                                     True      1067.435484
                                      True    False  False      699.624277
...                                                                    ...
True      True   False False  False   False   True   False     2686.281250
                                      True    False  False      244.000000
                              True    False   False  False      441.278689
                       True   False   False   False  False      219.867925
                 True  False  False   False   False  False      458.538462

[70 rows x 1 columns]

### 11. What game are platformers?

In [40]:
#where is that..?
#"if platform" is in the plot 

platform = df[df['plot summary'].str.contains('platform')]
platform['name']

434           Sonic and the Fallen Star
446                      007: Nightfire
448                              Roblox
474      T2: Terminator 2: Judgment Day
838                       A Hat in Time
                      ...
19627                              20XX
19683                            Alien³
19723                     Creator Crate
19835                There Came an Echo
20303                          SandShip
Name: name, Length: 269, dtype: object

### 12. What is the most common certificate of games with ratings greater than 8.0 and votes greater than 1000?

In [208]:
# Both have M as the output
most_certif = df[(df['rating'] > 8.0)]
most_certif[['certificate']].mode()


greater_votes = df[(df['votes'] > 1000)]
greater_votes['votes'].sort_values(ascending=False)
greater_votes['certificate'].mode()

0    M
Name: certificate, dtype: object

### 13. For games with ratings greater than the 75th percentile for ratings and a number of votes greater than the 75th percentile for votes, what is the most common genre?

In [192]:
rating_threshold = df.rating.quantile(0.75)
votes_threshold = df.votes.quantile(0.75)
# --------------------------------------------------

genres = ['Action', 'Adventure', 'Sci-Fi', 'Thriller', 'Family',
        'Crime', 'Comedy', 'Fantasy', 'Mystery']
good_games = df[(df.rating > rating_threshold) & (df.votes > votes_threshold)]

for genre in genres:
    print(genre,':', len(good_games[good_games[genre]==True]))

# or the longer verson:

# good_action_games = good_games[good_games.Action==True]
# print('Action:', len(good_action_games))

# good_adventure_games = good_games[good_games.Adventure==True]
# print('Adventure:', len(good_adventure_games))

Action : 1102
Adventure : 993
Sci-Fi : 186
Thriller : 55
Family : 113
Crime : 150
Comedy : 151
Fantasy : 443
Mystery : 121

### 14. What are the average ratings by year?

In [143]:
# df.groupby(['year', 'rating']).agg( {
#     'rating' : ['mean']
# })

#other way to do it:
df.groupby(['year']).rating.mean().fillna('unrated').head(20)

year
1952.0         7.0
1962.0         6.8
1964.0     unrated
1969.0        6.95
1970.0         4.3
1971.0       6.775
1972.0    4.855556
1973.0        5.08
1974.0        5.22
1975.0    6.166667
1976.0    4.990909
1977.0    5.121429
1978.0        4.85
1979.0    5.095652
1980.0    5.118367
1981.0    5.581034
1982.0    6.409412
1983.0    6.317045
1984.0    6.371591
1985.0    6.345679
Name: rating, dtype: object

### 15. For each cerficate, what was the average rating and average number of votes?

In [202]:
cert_rating = df.groupby('certificate').rating.mean()
cert_votes = df.groupby('certificate').votes.mean()

print('Average Rating:', cert_rating)
print('Average Votes:', cert_votes)

Average Rating: certificate
12           7.350000
AO           6.493333
Approved     6.900000
CE           5.520000
E            7.085637
E10+         7.181231
EC           6.142857
G            5.600000
GA           6.531579
K-A          6.913089
M            7.515584
MA-13        7.080000
MA-17        6.000000
Not Rated    6.703650
PG           5.933333
PG-13        6.628571
Passed       4.700000
T            7.295178
TV-14        7.000000
TV-MA        7.000000
Unrated      6.478222
Name: rating, dtype: float64
Average Votes: certificate
12             31.375000
AO            246.333333
Approved       52.333333
CE             12.600000
E             332.329063
E10+          520.265766
EC             18.857143
G              11.500000
GA            165.105263
K-A           349.324607
M            2498.627557
MA-13          83.200000
MA-17         165.666667
Not Rated     110.759124
PG            106.333333
PG-13         119.000000
Passed         19.000000
T             829.020862
TV-14         127.000000
TV-MA           8.000000
Unrated       135.973333
Name: votes, dtype: float64